extends layout

block content
  .nav-bar
    h1.title= title
  .main
    .planning-box
      script(src="javascripts/drag-and-drop-course.js")
      .full-plan
        //.semester-plan(id=0)
            .course-plan(draggable='true')
              p.course-name CS 145
            .course-plan(draggable='true')
              p.course-name MATH 145
            .course-plan(draggable='true')
              p.course-name MATH 147
            .course-plan(draggable='true')
              p.course-name PSYCH 101
            .course-plan(draggable='true')
              p.course-name ENGL 109
        - var n = 0;
        while n < 8
          .semester-box
            .semester-plan(id=n)
            .add-course-space(ondrop="drop(event)" ondragenter="dragenter(event)" ondragleave="dragleave(event)" ondragover="dragover(event)")
          - n++
      .button-box
        button.alter-semester-button(id='add') +
        button.alter-semester-button(id='remove') -
    .course-adding-box
      select.course-selector
        option Select a course
        option CS 241
        option CS 240
      button.add-course-button ->
      .course-bank
  .footer
    p Footer

block scripts
  script(src="javascripts/add-semester.js")
  script(src="javascripts/remove-semester.js")
  script(src="javascripts/add-course.js")
